:root {
  --main-font: "Roboto", sans-serif;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-family: var(--main-font);
}

.error {
  background-color: tomato;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h3,
p {
  margin: 10px 0;
}

.main-heading {
  font-size: 30px;
  color: #56599c;
}

/* FORMS */
.form {
  max-width: 300px;
  text-align: center;
  margin: auto;
  padding: 1.5rem 1.2rem;
  background-color: #fffafa;
}

.form > *:not(:first-child) {
  width: 100%;
}

.form p {
  font-size: 12px;
}

.input-w-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #c4c4c4;
  padding: 3px;
  margin-bottom: 1.2rem;
}

.input-w-icon input {
  flex: 1;
  background-color: transparent;
  border: none;
  padding-left: 5px;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--main-font);
  color: rgba(0, 0, 0, 0.3);
}

.form textarea {
  background-color: #c4c4c4;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--main-font);
  color: rgba(0, 0, 0, 0.3);
  padding-left: 5px;
}

.btn {
  height: 2rem;
  border: none;
  background-color: #fcfdff;
  font-size: 15px;
  font-weight: 700;
  font-family: var(--main-font);
  cursor: pointer;
}

button.primary-btn {
  background-color: #4277fd;
  color: #ffffff;
}

button.secondary-btn {
  border: 1px solid #000000;
}

/* RANDOM WINNER SECTION */
.random-winner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcb47;
}

.random-winner-link a {
  font-size: 2rem;
  color: #000000;
  text-decoration: none;
  font-family: var(--main-font);
  transition: 0.3s;
  padding-right: 5px;
}

.random-winner-link a:hover {
  color: #ffffff;
}

.random-winner-link a:hover ~ i {
  color: #000000;
}

.random-winner-link i {
  font-size: 1.4rem;
  color: #ffffff;
  transition: 0.3s;
}

.description {
  font-size: 1.2rem;
  background-color: #ef798a;
  color: #ffffff;
  margin: 0;
}

/* TIMER */
.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer-wrapper > span {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.timer-number {
  font-size: 3rem;
  color: #ffffff;
  background: #000000;
  margin: 4px;
  padding: 2px;
  font-family: var(--main-font);
  border-radius: 3px;
}

.interval-sign {
  font-family: var(--main-font);
  color: #ef798a;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5rem;
}
